footer {
  height: 80px;
  width: 100%;
  background-color: #5690FF;
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-top: 100px;
  box-sizing: border-box;
  text-align: center;
    position:absolute;
    bottom:-1;
}

.social_icons {
  display: flex;
  gap: 5px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}