.progressbar {
    /* Size */
    width: 450px;
    height: 75px;

    /* Content alignment */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    /* Style */
    border-radius: 60px;
    background-color: #494b52;
    box-shadow: 0px 0px 20px #111;

    overflow: hidden;
}

.bar {
    /* Size */
    width: 0%;

    /* Style */
    background: rgb(90, 144, 245);
    background: linear-gradient(
        180deg,
        rgb(142, 177, 242) 0%,
        rgb(58, 139, 239) 32%,
        rgb(3, 87, 196) 100%
    );
}

.progressbar-container {
    /* Content alignment */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progressbar-text-container {
    /* Size */
    width: 30px;
    margin-left: 30px;

    /* Content alignment */
    display: flex;
    flex-direction: row;

    /* Styling */
    color: white;
    font-family: montserrat;
    font-weight: bold;
    font-size: 30px;
}