/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
	line-height: 1;
	flex-grow: 1;
	
}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

article {
    margin: auto 0;
}






/* added styles */

/* global */

*, h1, h2, h3, a, p, button {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
    margin: 75px 10px 30px 10px;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
	font-size: 1.25;
	font-weight: bold;
	color: #171717;
	padding: 10px 0;	
}

a {
	color: #f0f0f0;
	text-decoration: none;
	transition: .3s;
	font-size: 1rem;
}

a:hover {
	color: #171717;
}

.app {
	background-color: #E5FCFF;
	color: #171717;
	min-height: 100vh;
	
}

main {

	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	background-size: cover;
	text-align: center;
	flex-wrap: wrap;
	justify-content: center;
	
}

.flex-row {
	display: flex;
	justify-content: space-between;
	align-items: center;

}


/* header */

.header {
	height: 80px;
	background-color: #5690FF;
	color: #f0f0f0;
	padding: 0 10px;

}


.logo {
	height: 50px;
	margin-right: 10px;
}

.main-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
		
}

.main-nav li {
	padding: 0 10px;
}

.logout-btn {
	color: #f0f0f0;
	text-decoration: none;
	transition: .3s;
	font-size: 1rem;
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
	width:90px
}

.logout-btn:hover {
	color: #171717;
}



/* form */

.form {
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 25px;
	box-shadow: 5px 5px 20px #171717;
}

.form-input {
	background: transparent;
	border: none;
	border-bottom: 1px solid #5690FF;
	color:#171717;
}

.form-btn {
	border: 1px solid  #5690FF;
	border-radius: 5px;
	color: #171717;
	background: transparent;
	padding: 10px 20px;
	transition: .5s;
	margin-top: 10px;
	
}

.form-btn:hover {
	background-color: #5690FF;
	color: #f0f0f0;
	transform: translateY(-3px);
}


/* auth */

.auth-form {
	width: 300px;
	height: 200px;
}

.auth-input {
	width: 200px;
}

.auth-msg {
	margin-bottom: 15px;
}

/* add post */

.add-post-form {
	width: 400px;
	height: 500px;
}

.status-container {
	width: 200px;
}

.textarea {
	border: 1px solid #5690FF;
	border-radius: 5px;
	height: 150px;
}

.radio-btn {
	display: flex;
	align-items: center;
}

.add-post-input {
	width: 300px;
}



/* posts */

.post-card {
	width: 500px;
	border: 1px solid #1d75e8;
	border-radius: 5px;
	margin: 25px;
	padding: 15px;
	text-align: left;
}

#video {
	
  width: 100%;
  height: 79vh;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  gap:20px;
  color: white;
  background-size: cover;

}
.homeVideo{
	 background-size: cover;
	 
	 
}
.book-list{
	min-height: 80vh;
	width:100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	text-align: center;
}
.favorites{
	min-height: 80vh;
	width:100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	text-align: center;
	
}

.book{
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 20px 0;;
}
#bookImg{
	width: 300px;
	height: 300px;
	transition: all 0.3s ease;
}
#bookImg:hover{
	transform: scale(1.1);
}
button {
	border: 1px solid ;
	border-radius: 5px;
	color: #171717;
	border: 1px solid #1d75e8;
	background: transparent;
	padding: 10px 20px;
	transition: .5s;
	margin-top: 10px;
	width: 150px;
	font-size: 15px;
}

button:hover {
	background-color: #5690FF;
	color: #f0f0f0;
	transform: translateY(-3px);
}

.book-details{

	display: flex;
  box-sizing: border-box;
align-items: center;
margin: 30px;
height: 40%;
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  align-self: center;
  flex-wrap: wrap;
justify-content: center;
 font-size: 1rem;
}


.book-details h2

.bookimage{
	width: 200px;
	height: 100px;
	text-align: center;
}

.book-description{
	width:50%;
	height: auto;
	align-items:flex-start;
  display: flex;
  flex-direction: column;
  text-align: left;
	margin: 10px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  align-self: center;
  flex-wrap: wrap;

}
.bookFirstPart{
	width: 100%;
  height: 600px;
  align-items:center;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content:center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  align-self: center;
  flex-wrap: wrap;
}
.log{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 40vw;
  height: fit-content;
  gap: 10px;
  margin: 10px;
  flex-wrap: wrap;
   margin-left: 200px;
   box-sizing: border-box;
}
.questions{
	display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 30px;
  width: auto;
    flex-direction: row;
}
.record{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.reviewForm{
	display: flex;
	margin: 10px;
}
.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #5690FF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.revBtn{
	width:300px
}
.tab-select{
	display: flex;
	align-items: center;
	justify-content: center;
	
}